body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fff;
}

a {
  color: #00B7FF;
}

.background {
    fill: #FFFFFF;
    fill-opacity: 0.01;
}

.component {
    fill: #e1e1e1;
}

.component .label {
    font-family: Myriad, "Helvetic Neue", Helvetica, Arial;
    text-anchor: middle;
    fill: #0000FF;
}

.arc {
    stroke-weight:0.1;
    fill: #4e8fff;
}


.arc2 {
    stroke-weight:0.1;
    fill: #3660b0;
}


.label {
    font-family:  Myriad, "Helvetic Neue", Helvetica, Arial;
    text-anchor: middle;
}

.radial-svg {
    display: block;
    margin: 0 auto;
}

.wrapper {
  width:500px;
}
.graph-wrapper {
  width:500px;
  height:300px;
}
#network {
  width:500px;
  height:400px;
}
.grid-item {
  float: left;
  width: 50px;
  height: 50px;
}

.grid-item--width-1 { width: 50px; }
.grid-item--width-2 { width: 80px; }
.grid-item--width-3 { width: 110px; }
.grid-item--width-4 { width: 150px; }
.grid-item--height-1 { height: 58px; }
.grid-item--height-2 { height: 88px; }
.grid-item--height-3 { height: 118px; }
.grid-item--height-4 { height: 158px; }
