[project]
	description = The Phenomenal Docker Demos
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mike BRIGHT (mjbright)
[access "refs/for/refs/*"]
	read = group user/Mike BRIGHT (mjbright)
	push = group user/Mike BRIGHT (mjbright)
	label-Code-Review = -2..+2 group user/Mike BRIGHT (mjbright)
	label-Verified = -1..+1 group user/Mike BRIGHT (mjbright)
	rebase = group user/Mike BRIGHT (mjbright)
	removeReviewer = group user/Mike BRIGHT (mjbright)
	submit = group user/Mike BRIGHT (mjbright)
[access "refs/heads/*"]
	read = group user/Mike BRIGHT (mjbright)
	create = group user/Mike BRIGHT (mjbright)
	push = +force group user/Mike BRIGHT (mjbright)
	pushMerge = group user/Mike BRIGHT (mjbright)
[access "refs/tags/*"]
	push = +force group user/Mike BRIGHT (mjbright)
	pushTag = group user/Mike BRIGHT (mjbright)
	pushSignedTag = group user/Mike BRIGHT (mjbright)
