extends layout

block content
  .grid

  script(type='text/javascript').
    // Setup the masonry grid
    $( document ).ready(function() {
      $('.grid').isotope({
        // options
        isFitWidth: true,
        itemSelector: '.grid-item',
        columnWidth: 200 
      });
    });


    // initialize deepstream (for websockets)
    ds = deepstream( 'http://thephedds.com:6020' ).login();
    // subscribe to the "docker" event stream
    ds.event.subscribe( 'docker', function( news ){
      var genClassSelector = getRandomInt(1, 4);
      var $item = $('<div class="grid-item grid-item--height-' + genClassSelector  + ' ' + 'grid-item--width-' + genClassSelector + ' " id="'  + news.Name + '"></div>');
      $(".grid").prepend( $item ).isotope( 'prepended', $item).isotope('layout');
      d3load( news.Name );
      console.log(news.Name);
    });


  // Functions below to initialize d3 upon new event
  script(language='JavaScript').
    function d3load ( containerName ) {
      scaleIn( containerName );
    }
    function labelFunction(val,min,max) {
    }
    function start( containerName, percent ) {
      var rp1 = radialProgress(document.getElementById(containerName))
      .label(containerName)
      .diameter($('#' + containerName).width() + 20)
      .value(percent)
      .render();
    }
    function getRandomInt(min, max) {
      return Math.floor(Math.random() * (max - min + 1)) + min;
    }

    function scaleIn( containerName ) {
      var genPercent = getRandomInt(100,200);
      start( containerName, genPercent ); 
    }
