extends layout

block content
  .table-wrapper
    .container
      table.table
        thead
          tr
            th Docker Name
            th State
            th Created
              tbody.rows

  script(type='text/javascript').
    ds = deepstream( 'http://thephedds.com:6020' ).login();
    
    //var created = news.State.created
    ds.event.subscribe( 'docker', function( news ){
      var stateString;
      if (news.State.Running) { 
          stateString = "Running";
      }
      $(".rows").append('<tr>'

            +'<td>'  + news.Name + '</td>'+
            '<td><span class="label label-success">'  + stateString + '</span></td>'+
            '<td>'  + news.State.StartedAt + '</td>'+
            // +'<td>'  + news.Args + '</td>'+

        '</tr>');
      console.log(news);
    });

